/* --- PC Devices --- */

/* Frames */
.top {
  background-image: url('../Data/Images/top-image.webp');
  background-position: center;
  height: 700px;
  width: 100%;
  margin-top: 60px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.top h1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
}

.top-buttons,
.top-video {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.top-buttons {
  align-items: center;
  gap: 40px;
}

.top-video {
  align-items: flex-end;
  padding-bottom: 35px;
}

.top button.white,
.top button.blue {
  border-radius: 10px;
  width: 200px;
  height: 58px;
}

.top button.white {
  color: #0065fa;
}

.top a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.top a:hover {
  font-weight: 600;
}

.top-video img {
  height: 35px;
  margin-right: 15px;
}

/* --- TABLET Devices --- */
@media (min-width: 768px) and (max-width: 1300px) {

  /* Frames */
  .top {
    height: 500px;
    margin-top: 30px;
  }

  .top h1 {
    font-size: 44px;
  }
}

/* --- MOBILE Devices --- */
@media (max-width: 768px) {

  /* Frames */
  .top {
    background-image: url('../Data/Images/top-image-mobile.webp');
    height: 400px;
    margin-top: 20px;
  }

  .top h1 {
    font-size: 33px;
  }

  /* Buttons */
  .top-buttons {
    align-items: center;
    gap: 30px;
  }

  .top button.white,
  .top button.blue {
    width: 150px;
  }

  .top-video {
    align-items: flex-end;
    padding-bottom: 25px;
  }
}